<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
</head>
<body>
      
      <!-- __________________________ ส่งข้อมูลแบบ Array ___________________________________ -->

      <h1>EJS Template Engine</h1>
      <p><%= products %></p>
      <p><%= products[0] %></p>
      <p><%= products[2] %></p>
      <p><%= products[1] %></p>

      <% for(i=0;i<products.length;i++){%>
            <p><%= products[i] %></p>
      <% } %>

      <ol>
            <% for(i=0;i<products.length;i++){%>
                   <li><%= products[i] %></li>
            <% } %>
      </ol>

      <ol>
            <% for(index in products){%>
                   <li><%= products[index] %></li>
            <% } %>
      </ol>
      
      
</body>
</html>